.footer{
    width: 100%;
    background: #fff;
    border-top: 1px solid #148a4b;
    .footer-content{
        text-align: center;
        padding: 10px;
    }
    a{
        text-decoration: none;
        color: #148a4b;
        
    }
}
