.scrollupp{
    font-size: 50px;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 222;
    border: 1px solid #ccc;
    border-radius: 100%;
    
    
}
.scrollupp a{
    text-decoration: none;
    color: rgb(20, 138, 75);
}
@media all and (max-width: 500px){
    .scrollupp{
        display: none;
    }
}